

body{
 background-color: #D3D3D3;
}

.title{
 text-decoration: line-through;
 font-size: 35px;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 800;
 font-style: italic;
 text-align: center;

}



#input-text{
 height: 7vh;
 width: 100vh;
 position: fixed;
 bottom: 3px;
 background-color: #fff;
 transition: background-color 0.3s;
}

input {
 background-color: #D3D3D3;
}

#input-text::placeholder{
 position: relative;
  left: 25px;
  color: black;
  font-size: 15px;
  font-family: monospace;
}